/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Light gray background for the body */
}

.header {
  background-color: white; /* Dark blue background for the header */
  color: #ffffff; /* White text color for the header */
  padding: 20px;
  text-align: center;
}

.header img {
  max-width: 100%;
  height: auto;
}

.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.heading h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.heading h3 {
  font-size: 18px;
  color: #555555; /* Dark gray text color for subheadings */
}

.description {
  text-align: center;
  margin-bottom: 30px;
  color: #666666; /* Slightly darker gray text color for description */
}

.category {
  background-color: #ffffff; /* White background for category section */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  padding: 20px;
  width: 100%;
  max-width: 400px; /* Limit width for better readability */
  margin-bottom: 20px;
}

.category-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333333; /* Dark text color for category titles */
}

.category input[type="text"],
.category input[type="number"],
.category select {
  width: calc(100% - 20px); /* Adjust width to fit container */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc; /* Light gray border */
  border-radius: 5px;
}

.category input[type="checkbox"] {
  margin-right: 10px;
}

.category button {
  padding: 10px 20px;
  background-color: #1e88e5; /* Dark blue button color */
  color: #ffffff; /* White text color for buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.category button:hover {
  background-color: #005cb2; /* Darker blue on hover */
}

.current-grade {
  text-align: center;
}

.current-grade input[type="number"] {
  width: calc(100% - 20px); /* Adjust width to fit container */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc; /* Light gray border */
  border-radius: 5px;
}

.current-grade button {
  padding: 10px 20px;
  background-color: #1e88e5; /* Dark blue button color */
  color: #ffffff; /* White text color for buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.current-grade button:hover {
  background-color: #005cb2; /* Darker blue on hover */
}

.grade img {
  width: 500px; /* Adjust the width value as needed */
}